<nav class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12 m10 offset-m2">
          <h1 class="header">Compétences</h1>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="row">
<div class="container">
<div class="col s12 m10 offset-m2">
  <h3 class="header">Informatique</h3>
  
  
<table class="striped">
    
    <tbody>
      <tr>
        <td>Notions de gestion des systèmes, installation, configuration </td>
     
      </tr>
      <tr>
        <td>Maintenance logiciel</td>
     
      </tr>
      <tr>
        <td>Manipulations de commandes systèmes, scripts-Shell</td>
       
      </tr>
      <tr>
        <td>Développement en langage C, C++,</td>
       
      </tr>
      <tr>
        <td>Programmation web : HTML, CSS, PHP, JAVA SCRIPT</td>
         
      </tr>
      <tr>
        <td>Base de données : MCD, SQL, MySQL </td>
           
      </tr>
      <tr>
        <td>Installation, intégration, configuration de PC et de modules matériels </td>
             
      </tr>
      <tr>
        <td>Mises-en œuvre de systèmes mobiles (tablettes, smartphone)</td>
               
      </tr>
      <tr>
        <td>Mises-en place et configuration de réseaux informatiques </td>
                 
      </tr>
          
      
    </tbody>
  </table>

  <h3 class="header">Transversales</h3>
  <table class="striped">
  <tbody>
      <tr>
        <td>Travail en mode projets : traduction de manière opérationnelle les exigences qualité et les demandes institutionnelles </td>
      </tr>
      <tr>
        <td>Respect de l’application des décisions d’organisation </td>
     
      </tr>
      <tr>
        <td>Repérage et analyse des ressources humaines et matérielles </td>
       
      </tr>
      <tr>
        <td>Anglais : Bon Niveau </td>
       
      </tr>
     
          
      
    </tbody>
  </table>

</div>
</div>
</div>