<ul id="slide-out" class="side-nav fixed">
  <li><div class="user-view">
    <div class="background">
      <img src="assets/images/index.jpg">
    </div>
    <a href="#user"><img class="circle" src="assets/images/myAvatar.png"></a>
    <a href="#name"><span class="white-text name">Aurélien Le Ferrand</span></a>
    <a href="#email"><span class="white-text email">leferrand.aurelien@gmail.com</span></a>
  </div></li>
 
 
  <li class="bold"><a [routerLink]="['profil']"  class="waves-effect waves-teal">Compétences</a></li>
  <li><div class="divider"></div></li>
  <li class="bold"><a [routerLink]="['hobbies']" class="waves-effect waves-teal">Hobbies</a></li>
  <li><div class="divider"></div></li>
  <li class="bold"><a [routerLink]="['diplomes']" class="waves-effect waves-teal">Diplômes</a></li>
  <li><div class="divider"></div></li>
  <li class="bold"><a [routerLink]="['experience']" class="waves-effect waves-teal">Expérience professionnelle</a></li>
</ul>

