<nav class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12 m10 offset-m2">
          <h1 class="header">Diplômes</h1>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="row">
  <div class="container">
  <div class="col s12 m10 offset-m2">
    <h3 class="header">2017 / 2018</h3>
    <p>Mastère 1 Système informatique</p>
    <div class="divider"></div>
    <h3 class="header">2016 / 2017</h3>
    <p>Licence professionnelle Mention : Métiers de l’informatique : conception, développement et test de logiciels parcours : Programmation internet et systèmes mobiles [LPPRISM]</p>
    <div class="divider"></div>
    <h3 class="header">2014 / 2016</h3>
    <P> BTS Informatique Système Numérique Informatique et Réseaux (Lycée Jules Ferry Versailles) </P>
    <div class="divider"></div>
    <h3 class="header">2013/2014</h3>
    <P>Baccalauréat STI 2D option Système d’Information et Numérique </P>

  
  
  </div>
</div>
</div>